# Data Cleansing

## Data Cleansing Process

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_pickle("cleansing_df.pkl")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4033120 entries, 0 to 34636377
Data columns (total 27 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   ssn         object
 2   cc_num      int64
 3   first       object
 4   last        object
 5   gender      object
 6   street      object
 7   city        object
 8   state       object
 9   zip         int64
 10  lat         float64
 11  long        float64
 12  city_pop    int64
 13  job         object
 14  dob         object
 15  acct_num    int64
 16  profile     object
 17  trans_num   object
 18  trans_date  object
 19  trans_time  object
 20  unix_time   int64
 21  category    object
 22  amt         float64
 23  is_fraud    int64
 24  merchant    object
 25  merch_lat   float64
 26  merch_long  float64
dtypes: float64(5), int64(7), object(15)
memory usage: 861.6+ MB

In [2]:

    print("Starting data cleansing process...")
    print("Initial dataset shape:", df.shape)
    print("\n" + "="*50 + "\n")

    # --- 1. Handle Missing Values ---
    print("Checking for missing values...")
    missing_values = df.isnull().sum()
    print("Missing values per column:\n", missing_values[missing_values > 0])
    
    for col in ['gender', 'street', 'city', 'state', 'zip']:
        if col in df.columns and df[col].isnull().any():
            if pd.api.types.is_categorical_dtype(df[col]):
                if 'Unknown' not in df[col].cat.categories:
                    df[col] = df[col].cat.add_categories('Unknown')
                df[col].fillna('Unknown', inplace=True)
            else: # If not already category, convert and fill
                df[col] = df[col].astype('category')
                if 'Unknown' not in df[col].cat.categories:
                    df[col] = df[col].cat.add_categories('Unknown')
                df[col].fillna('Unknown', inplace=True)
            print(f"Filled missing values in '{col}' with 'Unknown'.")

    print("\nDataset shape after handling missing values:", df.shape)
    print("\n" + "="*50 + "\n")


    # --- 2. Correct Data Types ---
    print("Correcting data types...")
    if 'trans_date_trans_time' in df.columns:
        df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'], errors='coerce')
        df.dropna(subset=['trans_date_trans_time'], inplace=True)
        print("Converted 'trans_date_trans_time' to datetime and dropped conversion errors.")

    if 'unix_time' in df.columns:
        df['transaction_time'] = pd.to_datetime(df['unix_time'], unit='s')
        print("Converted 'unix_time' to datetime.")

    if 'amt' in df.columns:
        df['amt'] = pd.to_numeric(df['amt'], errors='coerce')
        df.dropna(subset=['amt'], inplace=True)
        print("Converted 'amt' to numeric and dropped conversion errors.")

    print("\n" + "="*50 + "\n")


    # --- 3. Remove Duplicate Records ---
    print("Checking for duplicate records...")
    initial_rows = df.shape[0]
    df.drop_duplicates(inplace=True)
    print(f"Removed {initial_rows - df.shape[0]} duplicate rows.")
    print("Dataset shape after removing duplicates:", df.shape)
    print("\n" + "="*50 + "\n")


    # --- 4. Standardize Categorical Data ---
    print("Standardizing categorical data...")
    for col in ['first', 'last', 'job', 'city', 'state']: # Added job as an example
        if col in df.columns and df[col].dtype == 'object':
            df[col] = df[col].str.lower()
            print(f"Converted '{col}' to lowercase.")
    
    print("\n" + "="*50 + "\n")
    
    # --- 5. Final Data Review ---
    print("Final Data Cleansing Summary:")
    print("Cleaned dataset shape:", df.shape)
    print("\nInfo of cleaned data:")
    df.info(memory_usage='deep')

Starting data cleansing process...
Initial dataset shape: (4033120, 27)

==================================================

Checking for missing values...
Missing values per column:
 Series([], dtype: int64)

Dataset shape after handling missing values: (4033120, 27)

==================================================

Correcting data types...
Converted 'unix_time' to datetime.
Converted 'amt' to numeric and dropped conversion errors.

==================================================

Checking for duplicate records...
Removed 0 duplicate rows.
Dataset shape after removing duplicates: (4033120, 28)

==================================================

Standardizing categorical data...
Converted 'first' to lowercase.
Converted 'last' to lowercase.
Converted 'job' to lowercase.
Converted 'city' to lowercase.
Converted 'state' to lowercase.

==================================================

Final Data Cleansing Summary:
Cleaned dataset shape: (4033120, 28)

Info of cleaned data:
<class 'pandas.core.frame.DataFrame'>
Index: 4033120 entries, 0 to 34636377
Data columns (total 28 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   ssn               object
 2   cc_num            int64
 3   first             object
 4   last              object
 5   gender            object
 6   street            object
 7   city              object
 8   state             object
 9   zip               int64
 10  lat               float64
 11  long              float64
 12  city_pop          int64
 13  job               object
 14  dob               object
 15  acct_num          int64
 16  profile           object
 17  trans_num         object
 18  trans_date        object
 19  trans_time        object
 20  unix_time         int64
 21  category          object
 22  amt               float64
 23  is_fraud          int64
 24  merchant          object
 25  merch_lat         float64
 26  merch_long        float64
 27  transaction_time  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(7), object(15)
memory usage: 3.9 GB

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4033120 entries, 0 to 34636377
Data columns (total 28 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   ssn               object
 2   cc_num            int64
 3   first             object
 4   last              object
 5   gender            object
 6   street            object
 7   city              object
 8   state             object
 9   zip               int64
 10  lat               float64
 11  long              float64
 12  city_pop          int64
 13  job               object
 14  dob               object
 15  acct_num          int64
 16  profile           object
 17  trans_num         object
 18  trans_date        object
 19  trans_time        object
 20  unix_time         int64
 21  category          object
 22  amt               float64
 23  is_fraud          int64
 24  merchant          object
 25  merch_lat         float64
 26  merch_long        float64
 27  transaction_time  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(7), object(15)
memory usage: 892.3+ MB

## Saving into a PKL File

In [6]:
df.to_pickle("cleansed_df.pkl")
print("Filtered dataframe saved as 'cleansed_df.pkl'")
df.info()

Filtered dataframe saved as 'cleansed_df.pkl'
<class 'pandas.core.frame.DataFrame'>
Index: 4033120 entries, 0 to 34636377
Data columns (total 28 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   ssn               object
 2   cc_num            int64
 3   first             object
 4   last              object
 5   gender            object
 6   street            object
 7   city              object
 8   state             object
 9   zip               int64
 10  lat               float64
 11  long              float64
 12  city_pop          int64
 13  job               object
 14  dob               object
 15  acct_num          int64
 16  profile           object
 17  trans_num         object
 18  trans_date        object
 19  trans_time        object
 20  unix_time         int64
 21  category          object
 22  amt               float64
 23  is_fraud          int64
 24  merchant          object
 25  merch_lat         float64
 26  merch_long        float64
 27  transaction_time  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(7), object(15)
memory usage: 892.3+ MB